/* .pagination {
   color: #ffe81f;
   background: black;
}

span.page-link {
   color: #ffe81f;
   background: black;
}

ul, li, a {
   color: #ffe81f;
}
.page-link, button {
   color: #ffe81f;
} */

/* .page-list, ul, li a {
   color: red;
   background: black;
} */

/* .pagination>.page-list {
   color: #ffe81f;
} */

/* .page-item, .pagination {
   background: black;
   color: #feda4a;
}
.page-link {
   color: #feda4a;
   background-color: transparent;
}

.page-item.active .page-link {
   color: #007bff;
   background-color: transparent;
   border-color: transparent;
} */

/* ul a {
   color: #ffe81f;
   background: black;
} */

#pagination,
ul,
a,
li {
   color: #ffe81f;
   background: #000000;
   border: none;
   outline: none;
   cursor: pointer;
   -webkit-box-shadow: 5px 5px 15px 5px #000000;
   box-shadow: 5px 5px 15px 5px #000000;
}

.page-item.active {
   color: #ffe81f;
   background: #000000;
   text-shadow: 0 -1px 4px #FFF,
   0 -2px 10px #ff0,
   0 -10px 20px #ff8000,
   0 -18px 40px #F00;
}
